<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Devices: </h1>
    
    {% for item in devices %}
    <div >
        <strong> id:</strong> {{ item.id }}
        <strong> msg_type:</strong> {{ item.msg_type }}
        <strong> device_type: </strong> {{ item.device_type }}
        <strong> status:</strong> {{ item.status }}
        <strong> message_type:</strong> {{ item.message_type }}
        <strong> message:</strong> {{ item.message }}
        <strong> ZAKTUALIZOWANO:</strong> {{ item.updated_at }}

        <a href='devices_upd/{{item.id}}'><button>MODIFY</button></a>
        <a href='devices_del/{{item.id}}'><button>REMOVE</button></a>
        
    </div>
    {% endfor %}
    <button style="margin:10px">
        <a href='devices_add' style="text-decoration:None; color:black;">ADD DEVICE </a>
    </button>
</body>
</html>